 /* The sidenav */
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2%;
  align-content: center;
}

/* Page content */
.main {
  margin-left: 15%; /* Same as the width of the sidenav */
} 

.navCol-icon img{
  width: 80%;
  height: 5%;
}

a.nav-lin.disabled:hover {
  color: black;
}